.noteDetails > header {
  width: 40rem;
  margin: 0.5rem auto;
}

.noteDetails > header nav {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.noteDetails > header button,
.noteDetails > header a {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
  font-weight: bold;
  padding: 0.25rem;
}

.noteDetails > header button:hover,
.noteDetails > header a:hover {
  color: var(--active-color);
}

.noteDetails > article {
  width: 40rem;
  margin: auto;
  padding: 1.25rem;
  background-color: #343b3f;
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
}

.noteDetailsGroup {
  margin-bottom: 1rem;
}

.noteDetailsGroup:last-of-type {
  margin-bottom: 0;
}

.noteDetailsGroup h1 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.noteDetailsGroup p {
  font-size: 1rem;
}
