.card {
  border: var(--border);
  border-radius: 4px;
  padding: 0.75rem;
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1rem 1rem 1rem;
}

.title {
  font-size: 1.1rem;
  font-weight: bold;
}

.tag {
  font-size: 0.8rem;
  font-weight: bold;
}

.content {
  font-size: 0.9rem;
  text-align: left;
  padding: 0.5rem;
  min-height: 100px;
  max-height: 100px;
  color: var(--color-white);
  background-color: #003c815d;
  border-radius: 2px;
}

.button {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 2px;
  font-weight: bold;
  text-decoration: none;
}

.button:hover {
  color: var(--color-blue);
  background-color: var(--color-white);
}

.button > a:hover {
  color: var(--color-blue);
}
