.nav {
  background-color: var(--color-light-grey);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.list {
  display: flex;
  justify-content: center;
}

.list li {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.list li > a {
  font-size: 1.125rem;
  font-weight: bold;
}
